
SECRET_KEY=django-insecure-w!6pye!qhw01mevr77v1785HHHj5cmwobbtnipit9+xl0+0k-4np7z3+

# Enable/disable Django debug mode. (True for local development, False for production)
DEBUG=True
ALLOWED_HOSTS=tickets.metrolinkssolutionltd.co.ke,metrolinkssolutionltd.co.ke,www.tickets.metrolinkssolutionltd.co.ke,www.metrolinkssolutionltd.co.ke
DB_ENGINE=mysql

DB_NAME=metroli4_tickets
DB_USER=metroli4_tickets
DB_PASSWORD=Px28vBezMtNDP3JeUczH
DB_HOST=localhost
DB_PORT=3306
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
